.div{
display:flex;
margin-left: 90px;
}

.iphone15{
    width: 300px;
    height: 400px;
border: 2px solid;
}

.iphone16{
    width: 300px;
    height: 400px;
border: 2px solid;
}

.iphone14{
    width: 300px;
    height: 400px;
border: 2px solid;
}


.iphone13{
    width: 300px;
    height: 400px;
border: 2px solid;
}

